.HistoricalEventsPaginator {
  display: flex;
  flex-direction: column;
  gap: 20px;


  @media (max-width: 600px) {
    gap: 10px;
    position: fixed;
    background-color: #f4f5f9;
    padding: 13px 0 13px 20px;
    bottom: 0;
    z-index: 1111;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 20px;

  @media (max-width: 600px) {
    gap: 10px;
  }

}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  @media (max-width: 600px) {
    width: 25px;
    height: 25px;
  }
}

.display {
  font-size: 14px;
  color: #42567A;
}


