.VeryBigYear {
  font-family: PT Sans;
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  // opacity: 0.85;
  user-select: none;
}

.startYear {
  color: #5D5FEF;
}

.endYear {
  color: #EF5DA8;
}
