.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e2e5ec;
  border-right: 1px solid #e2e5ec;
  user-select: none;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

.topBlock {
  margin-top: 170px;
  min-height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 1100px) {
    margin-top: 59px;

  }

  @media (max-width: 600px) {
    min-height: 293px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #C7CDD9;
  }
}

.circleOfHistoricalEventsWrapper {
  position: absolute;
  z-index: 1;
}

.veryBigYearWrapper {
  display: flex;
  gap: 110px;
  position: absolute;


  @media (max-width: 1100px) {
    gap: 65px;
  }

  @media (max-width: 600px) {
    gap: 30px;
    // min-height: 186px;
  }
}

.HistoricalDateBigTitleWrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.HistoricalEventsPaginatorWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 80px;
}

.SliderBlockWrapper {
  margin-top: 56px;
  min-height: 500px;

  @media (max-width: 600px) {
    gap: 65px;
    margin-top: 30px;
  }
}

.verticalLine {
  height: 100%;
  border-left: 1px solid #e2e5ec;
  position: absolute;
  left: 50%;
}

.horizontalLine {
  width: 100%;
  border-top: 1px solid #e2e5ec;
  position: absolute;
  top: 480px;
}
