.HistoricalDateBigTitle {
  display: flex;
  gap: 78px;
}

.leftBlock {
  height: 120px;
  width: 5px;
  background: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);
}

.title {
  font-size: 56px;
  font-weight: 700;
  color: #42567A;
}
